# Database Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/desh-transport?retryWrites=true&w=majority

# JWT Authentication Secret Key
JWT_SECRET=your_jwt_secret_key_here

# Server Port
PORT=4000

# Allowed Origin
ALLOWED_ORIGIN=http://localhost:5173